{% extends "gaza/layout.html" %}
{% load static %}
{% block title %}
تسكين مستفيد
{% endblock %}
{% block body %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div dir="rtl" class="row">
                <div class="col-xl-12">
                    <div class="card">
                     <div class="card-body">
                        {% if message %}
                            <div class="col-sm-12 d-flex justify-content-center">
                                <div class="alert alert-success alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                                 <i class="uil uil-check-circle d-block display-4 mt-2 mb-3 text-success">
                                 </i>
                                 <h5 class="text-success">
                                  تم بنجاح!
                                 </h5>
                                 <p>
                                    {% if updated_persons %}
                                    <ul>
                                        {% for person in updated_persons %}
                                            <li> تم تسكين {{ person.name }} في {{ theApartment }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                 </p>
                                 <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
                                 </button>
                                </div>
                               </div> <br>
                        {% endif %}
                        {% if errorMessage %}
                        <div class="col-sm-12 d-flex justify-content-center">
                            <div class="alert alert-danger alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                             <i class="uil uil-exclamation-octagon d-block display-4 mt-2 mb-3 text-text-danger">
                             </i>
                             <h5 class="text-text-danger">
                             خطأ في الإدخال
                             </h5>
                             <p>
                               {{errorMessage}}
                             </p>
                             <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
                             </button>
                            </div>
                           </div> <br>
                        {% endif %}
                          
                      <h4 class="card-title">
                       اختيار سكن مستفيد
                      </h4>
                      <p class="card-title-desc">
                        يمكنك إختيار سكن المستفيد, تعديل مكان سكنه, او إعادة تسكينه بعد خروجه من هنا
                      </p>
                      <form action="{% url 'operations:accommodation' %}"  method="POST" class="custom-validation" novalidate="">
                        {% csrf_token %} 

                    

                     <!-- Start Group label -->
                     <div>
                        <label class="col-md-2 col-form-label " for="exampleDataList0">
                         اسم المستفيد
                        </label>

                        <select required dir="rtl" class="col-md-10 form-control js-example-basic-multiple" name="names[]" multiple="multiple">
                            {% for member in Person %}
                            <option value="{{member.id}}">{{member.name}}</option>
                        {% endfor %}
                          </select>
                       </div> <br>
                    <!-- End Group label -->
                       
    
                    <!-- Start Accommodation label -->
                    
                    <div>
                        <label class="col-md-2 col-form-label" for="exampleDataList0">
                        مكان السكن
                        </label>
                        <div class="col-md-10">                       
                        <select required name="Apartment" id="mySelect2" class="col-md-10 form-control selecttwoform" style="width: 100%;" >
                            <option value="" disabled selected>اختر الوحدة/الغرفة</option>
                        {% for Apartment in Apartments %}
                            <option value="{{Apartment.id}}">{{Apartment}}</option>
                        {% endfor %}
                        <!-- Add more options as needed -->
                    </select>        
                        </div>
                       </div> <br>
                    <!-- End Accommodation label -->

                
                  

                       <div>
                        <div>
                         <button class="btn btn-primary waves-effect waves-light me-1" type="submit">
                          إرسال
                         </button>
                         <button class="btn btn-secondary waves-effect" type="reset">
                          محو الحقول
                         </button>
                        </div>
                       </div>
                      </form>
                     </div>
                    </div>
                   </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}