{% extends "gaza/layout.html" %}
{% load static %}
{% block title %}
إضافة مستفيد
{% endblock %}
{% block body %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div dir="rtl" class="row">
                <div class="col-xl-12">
                    <div class="card">
                     <div class="card-body">
                        {% if message %}
                            <div class="col-sm-12 d-flex justify-content-center">
                                <div class="alert alert-success alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                                 <i class="uil uil-check-circle d-block display-4 mt-2 mb-3 text-success">
                                 </i>
                                 <h5 class="text-success">
                                  تم بنجاح!
                                 </h5>
                                 <p>
                                  تم إضافة المستفيد بنجاح
                                 </p>
                                 <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
                                 </button>
                                </div>
                               </div> <br>
                        {% endif %}

                        {% if errorMessage %}
                        <div class="col-sm-12 d-flex justify-content-center">
                            <div class="alert alert-danger alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                             <i class="uil uil-exclamation-octagon d-block display-4 mt-2 mb-3 text-text-danger">
                             </i>
                             <h5 class="text-text-danger">
                             خطأ في الإدخال
                             </h5>
                             <p>
                               المستفيد {{personName}} موجود بالفعل في قواعد البيانات 
                             </p>
                             <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
                             </button>
                            </div>
                           </div> <br>
                        {% endif %}
                      <h4 class="card-title">
                       إدخال مستفيد جديد
                      </h4>
                      <p class="card-title-desc">
                        برجاء إدخال بيانات المستفيد, واحرص على إضافة اكبر قدر ممكن من البيانات.
                      </p>
                      <form action="{% url 'operations:addperson' %}" enctype="multipart/form-data" method="POST" class="custom-validation" novalidate="">
                        {% csrf_token %} 

                           <!-- Start Accommodation label -->
                        <div>
                            <label class="col-md-2 col-form-label selecttwoform" for="exampleDataList0">
                            مكان السكن
                            </label>
                            <div class="col-md-10 form-control">                       
                            <select name="states[]" multiple="multiple" id="mySelect2" class="form-control selecttwoform js-example-basic-multiple" style="width: 100%;">
                            
                                <option value="{{Apartment.id}}">احمد</option>
                                <option value="{{Apartment.id}}">محسن</option>
                                <option value="{{Apartment.id}}">ناجي</option>
                                <option value="{{Apartment.id}}">زين</option>
                                <option value="{{Apartment.id}}">مسعد</option>
                                <option value="{{Apartment.id}}">تسنيم</option>
                                <option value="{{Apartment.id}}">ريناد</option>
                            <!-- Add more options as needed -->
                        </select>        
                            </div>
                        </div> <br>
                    <!-- End Accommodation label -->


                   
                    
                    

                

                       <div>
                        <div>
                         <button class="btn btn-primary waves-effect waves-light me-1" type="submit">
                          إرسال
                         </button>
                         <button class="btn btn-secondary waves-effect" type="reset">
                          محو الحقول
                         </button>
                        </div>
                       </div>
                      </form>
                     </div>
                    </div>
                   </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}