{% extends "gaza/layout.html" %}
{% load static %}
{% block title %}
رفع ملف المرافقين
{% endblock %}
{% block body %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div dir="rtl" class="row">
                <div class="col-xl-12">
                    <div class="card">
                     <div class="card-body">
                        {% if message %}
                            <div class="col-sm-12 d-flex justify-content-center">
                                <div class="alert alert-success alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                                 <i class="uil uil-check-circle d-block display-4 mt-2 mb-3 text-success"></i>
                                 <h5 class="text-success">تم بنجاح!</h5>
                                 <p>تم رفع الملف وإضافة المصابين بنجاح</p>
                                 <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                                </div>
                               </div> <br>
                        {% endif %}

                        {% if errorMessage %}
                        <div class="col-sm-12 d-flex justify-content-center">
                            <div class="alert alert-danger alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                             <i class="uil uil-exclamation-octagon d-block display-4 mt-2 mb-3 text-danger"></i>
                             <h5 class="text-danger">خطأ في رفع الملف</h5>
                             <p>{{ errorMessage }}</p>
                             <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                            </div>
                           </div> <br>
                        {% endif %}
                       
                      <h4 class="card-title">رفع ملف المرافقين</h4>
                      <p class="card-title-desc">برجاء رفع ملف Excel يحتوي على تفاصيل المرافقين.</p>
                      <p>
                        الأعمدة المطلوبة:
                      </p>
                      <p class="card-title-desc">
                        {'الاسم', 'المستشفى', 'النوع', 'رقم الهوية', 'التشخيص', 'تاريخ الميلاد', 
                            'رقم المبنى', 'رقم الوحدة/الغرفة', 'مقدم خدمة الإيواء', 'تاريخ تقديم خدمة الايواء', 
                            'تاريخ دخول مصر', 'رقم الهاتف المصري', 'الوضع الحالي', 'اسم المصاب'}
                      </p>
                      <a target="_blank" href="https://docs.google.com/spreadsheets/d/1oXAwCBSpgXJi7M4KJvedxbD8DOt6x3hY/edit?usp=drive_link&ouid=100362024046644406032&rtpof=true&sd=true">
                      <p class="card-title">يمكنك تحميل قالب الـ Excel المناسب للبدء في اضافة البيانات المطلوبة, اضغط هنا</p>
                    </a>
                      <form action="{% url 'operations:upload_excel_for_person' %}" enctype="multipart/form-data" method="POST" class="custom-validation" novalidate="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">ملف Excel</label>
                            <input class="form-control" name="excel_file" type="file" accept=".xlsx, .xls" required="">
                        </div>
                        <div>
                            <button class="btn btn-primary waves-effect waves-light me-1" type="submit">رفع الملف</button>
                        </div>
                      </form>
                     </div>
                    </div>
                   </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
